<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <%-include('header')%>
    <div class="container">
        <h1>Welcome to Web Hacking World!</h1>
        <hr>
        <ul>
            <li><a href="/echo?echo=1&lv=1">Simple Practice</a></li>
            <li><a href="/echo?echo=1&lv=2">Lv2</a></li>
            <li><a href="/echo?echo=1&lv=3">Lv3</a></li>
            <li><a href="/echo?echo=1&lv=4">Lv4</a></li>
            <li><a href="/echo?echo=1&lv=5">Lv5</a></li>
        </ul>
    </div>
</body>
</html>

